:root {
	--primary-primary-100: #000;
	--primary-primary-90: #191919;
	--primary-primary-80: #323232;
	--primary-primary-70: #4c4c4c;
	--primary-primary-60: #7f7f7f;
	--primary-primary-50: #999;
	--primary-primary-40: #b2b2b2;
	--primary-primary-30: #ccc;
	--primary-primary-20: #e5e5e5;
	--primary-primary-10: #fff;
	--secondary-secondary-100: #13213c;
	--secondary-secondary-90: #2a374f;
	--secondary-secondary-80: #424d62;
	--secondary-secondary-70: #596376;
	--secondary-secondary-60: #71798a;
	--secondary-secondary-50: #a0a6b1;
	--secondary-secondary-40: #b8bcc4;
	--secondary-secondary-30: #cfd2d8;
	--secondary-secondary-20: #e7e8eb;
	--secondary-secondary-10: #f8f8f8;
	--error-error-100: #d80505;
	--success-success-100: #229f65;
	--accent-accent-100: #fcd702;
	--accent-accent-90: #fcdb1b;
	--accent-accent-80: #fcdf34;
	--accent-accent-70: #fce34d;
	--accent-accent-60: #fde767;
	--accent-accent-50: #fdeb80;
	--accent-accent-40: #fdef99;
	--accent-accent-30: #fef3b3;
	--accent-accent-20: #fef7cc;
	--accent-accent-10: #fefbe5;
}